.dashboard-container {
    padding: 20px;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }
  